@media only screen and (min-width: 1200px) {
    .movieBlock{
        height:38.05vh;
        width:12.37vw;
    }
}
img{
    /* height:250px;
    width:168.91px; */
    /* height:250px; */
    /* width:168.91px; */
    height:38.05vh;
    width:12.37vw;
    /* width:250px;
    height:372.5px; */
    flex: 0 0 19.7%;
    transition: transform 300ms ease 100ms;
    /* transition-delay: 0.5s */
    /* box-shadow:5px 5px lightslategrey; */
}

iframe>#document>html>body>img{
    height:100%;
    width:100%;
}

@media only screen and (min-width: 1600px) {
    img{
        height:35.05vh;
        width:11.38vw;
        flex: 0 0 19.7%;
        transition: transform 300ms ease 100ms;
    }
}

iframe{
    display: none;
    height: 100%;
    width:100%;
}

.trailerVideo{
    display: none;
    height: 100%;
    width:100%;
    object-fit:fill;
    /* min-width: 100%;
    min-height: 100%; */
    transition:  transform 1s;
    z-index: -1;
}

/* .mobileCarousel>.rec.rec-carousel>.rec.rec-slider-container>.rec.rec-slider>.rec.rec-swipable-carouselHvrMbl>.rec.rec-item-wrapper>div>.movieBlock>img{
    height:230px !important;
    width:155.91px !important;
   
 } */

.fa.fa-youtube-play:hover{
    color: #636ccf !important;
    /* text-shadow: 0px 0px 6px white !important; */
    
 }
 .fa.fa-play-circle:hover{
    color: #636ccf !important;
    /* text-shadow: 0px 0px 6px white !important; */
    
 }

 .watchMovie:hover{
     color:#636ccf !important;
 }
 

 