.header{
    /* background: rgb(154,0,67);
    background: radial-gradient(circle, rgba(154,0,67,1) 0%, rgba(13,53,101,1) 100%); */
    background-color:#141414;
    color: #e5e5e5;
    position: fixed;
    /* border-bottom:0.5px solid lightgray; */
    z-index: 10;
    width:100%;
    right: 0;
    left: 0;
    top:0;
    /* margin-bottom: 65px; */
    padding-left: 17px;
    padding-right:17px;
    height:59px;
}

.headerMobile{
    height:50px;
    margin-bottom: 0px !important;
    background-color:#141414;
    color: #e5e5e5;
    position: fixed;
    /* border-bottom:0.5px solid lightgray; */
    z-index: 10;
    width:100%;
    right: 0;
    left: 0;
    top:0;
    /* margin-bottom: 65px; */
    padding-left: 5vw;
    padding-right:5vw;
}

.headerDesktop{
    /* margin-bottom:65px; */
}

/* #3c29a352 */