/* .movieBlock{
    margin-top: 20px;
    display: inline-block;
    margin-left: 15px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border:5px solid #fff;
} */

img{
    /* height:300px; */
    border:5px solid #fff;
}