.search{
    width:200px;
    display: inline-block;
    
}

/* .collapse{
    display: inline-flex;
} */

.textSearch{
    padding-top: 7px;
    padding-left: 256px;
}

.userProfile{
    display:flex;
    align-items: center;
    left:-14px;
    padding-top: 10px;
    color: #e5e5e5;
}

.userName{
    margin-left:4px;
    font-size: 15px;
    font-weight: 700;
}

.headerSearchRight,.headerSearchLeft{
    padding-top: 2px;
}

/* .headerSearchLeft{
    padding-left: 90px;
} */

.searchTerm{
    width: 250px;
}

.inputBase{
    flex:1;
    color:#636ccf !important;
}

.iconButton{
    padding: 0px !important;
    color:white !important;
}

.paper{
    background: ghostwhite!important;
    display: inline-flex;
    padding: 2px 10px;
    /* width: 268px; */
    width:20vw;
    color:black;
    font-size: 20px;
    /* border:1px solid white; */
    height:34px;
}

.logo{
    font-size: 22px;
    /* margin-left: 74px; */
    /* padding-top: 5px; */
    color: white;
}

.logoImg{
    height:40px;
    width:120px;
}

.dropdownList{
    padding-top: 12px;
    left:-127px;
}

.logoImgMbl{
    width:95px;
    height:40px;
}

.paperMobile{
    width:34vw;
    /* min-height: 4vh; */
    text-align: center;
    display: inline-flex;
    float:right;
    border-radius: 2px !important;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.2s;
    color:#777a80;
    font-weight: bolder;
    scroll-behavior: smooth;
  }

  .sidenav a {
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
  padding-bottom: 1px;
  font-size: initial;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav tr td{
    padding-left: 5vw;
}
.sidenav tr{
    margin-bottom: 1vw;
}

#mySidenav{
    transition: 0.3s; 
}
/* .MuiPaper-elevation1 {
    box-shadow: 0px 2px 1px -1px #449fcf, 0px 1px 1px 0px rgb(68, 159, 207), 0px 1px 3px 0px rgb(68, 159, 207) !important;
} */