.movie{
    display: flex;
    height:auto;
    margin-top: -50px;
    z-index:1;
    
}

 .rec.rec-slider-container{
  margin: 0px -20px;

}

.rec.rec.rec-carousel-wrapper{
  overflow: hidden;
}

/* arrow button class */
.gaaBdk{ 
  min-width:20px !important;
  border-radius:0% !important;
} 

.rec.rec-swipable-carouselHvr{
  padding-top: 60px;
   padding-bottom: 60px;
} 

  .rec.rec-slider{
    height:370px;  
  }
  
  .rec.rec-swipable-carouselHvr{
    /* transition: all 300ms linear 100ms; */
    transition-duration: 500ms;
  }
  .rec.rec-item-wrapper{
    /* transition: all 300ms linear; */
    transition-duration: 500ms;
  }

  .rec.rec-carousel{
    /* transition: transform 300ms ease 100ms; */
    transition-duration: 500ms;
  }
  .rec.rec-carousel{
    /* transition: all 300ms linear; */
    transition-duration: 500ms;
    
  }

 
 
  .rec.rec-pagination {
    display:none;
  }


  .brand-logo{
    background-image: url(../../assets/images/circle-cropped.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: -9999px;
    width: 107px;
    height: 32px;
    vertical-align: bottom;
    top: 0;
  }

  .footer{
    position: absolute;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    padding: 15px;
    display: inline-block;
    width: 100%;
    height:80px;
    background-color: #141414;
    bottom:0px;
  }

  .footer ul{
    margin: 0;
    padding:0;
    list-style: none;
  }

  .footer li{
    display: inline-block;
    white-space: normal;
    padding: 4px;
    color: #636ccf;
  }

  .mainContainer{
    padding-bottom: 10.5rem;
    padding-top: 6.5rem;
    overflow: hidden;
  }

  .mobileCarousel{
    height: 300px;
  }

  .mobileCarousel>.rec.rec-carousel>.rec.rec-slider-container{
    margin: 0px -44px;
  }

  .mobileCarousel2>.rec.rec-carousel>.rec.rec-slider-container{
    margin: 0px -44px;
  }
  .mobileCarousel>.rec.rec-carousel>.rec.rec-slider-container>.rec.rec-slider>.rec.rec-swipable-null>.rec.rec-item-wrapper>div>.hvr>.movieBlock>img{
    height:230px !important;
    /* height:64vw !important; */
     width:44vw !important; 
    
   }

   .mobileCarousel2>.rec.rec-carousel>.rec.rec-slider-container>.rec.rec-slider>.rec.rec-swipable-null>.rec.rec-item-wrapper>div>.hvr>.movieBlock>img{
    /* height:64vw !important; */
    height:230px !important;
     width:44vw !important; 
    
   }

   .react-multi-carousel-list>.react-multi-carousel-track>.react-multi-carousel-item>div>.hvr>.movieBlock>img{
    /* height:239px !important;
    width:161.91px !important; */
    height:153.92px !important;
    width:104.91px !important;
 }
  a{
    display: inline-block;
  }

  .mobileCarousel>.rec.rec-carousel>.gaaBdk,.mobileCarousel2>.rec.rec-carousel>.gaaBdk {
    visibility: hidden;
  }
    .rec.rec-slider{
    touch-action: auto;
    -ms-touch-action: auto;
    }

    .rec.rec-swipable-null{
      touch-action: auto;
    -ms-touch-action: auto;
    }

  
    .Mobilefooter{
      position: absolute;
      line-height: 20px;
      text-align: center;
      display: inline-block;
      width: 100%;
      background-color: #141414;
      bottom:44px;
    }
  
    .Mobilefooter ul{
      margin: 0;
      padding:0;
      list-style: none;
    }
  
    .Mobilefooter li{
      display: inline-block;
      white-space: normal;
      padding: 4px;
      color: #636ccf;
    }
  