
.searchDropdown{
  display: inline-block;
  margin-right: 62px;
  line-height: 1px;
  /* text-transform: uppercase; */
  /* padding-left: 81px; */
}

.open > .dropdown-menu {
  max-height: 500px;
  visibility: visible;
  margin-top: 22px;
  left: -18px;
  
}

li.open{
  color:#636ccf;
}

li:hover{
  color:#636ccf
}

/* li.open:first-child{
   background-color: yellow;

} */
.dropdown-menu {
  display: block;
  max-height: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  /* overflow-y: scroll; */
  overflow: hidden;
  border-radius: 10px;
  /* background:linear-gradient(to right, #449fcf , #9784db); */
  background-color: ghostwhite;
}

.headerLink{
  background: none !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  display: inline !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  color:#e5e5e5;
  text-decoration: none;
}

.headerLink:focus{
  color: #636ccf !important;
}

.headerLink:hover{
  color: #636ccf !important;
}

/* .headerLink:hover{
  color:white !important;
} */

.headerLinkMovies{
  margin-right: 1.713vw !important;
  background: none !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  display: inline !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  color:#e5e5e5;
  text-decoration: none;
}

.headerLinkMovies:focus{
  color: #636ccf !important;
}

.headerLinkMovies:hover{
  color: #636ccf !important;
}






